@font-face {
    font-family: 'Open Sans Regular';
    src: url('fonts/open-sans.regular.ttf');
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/open-sans.light.ttf');
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: url('fonts/open-sans.semibold.ttf');
}
body {
    word-wrap: break-word;
    width: 100%;
    min-width: 1270px;
    font: 12px/16px 'Open Sans Regular';
    background: #f4f4f4 url('img/site_bg.jpg?v2111') repeat;
    margin: 0;
}
a {
    text-decoration: none;
    color: #00003e;
    cursor: pointer;
}
a:visited{
    text-decoration: none;
    color: #5e2b1c;
}
a:hover {
    text-decoration: underline;
}
img {
    border: 0 none;
}
input, textarea, select, button, a {
    outline: none;
}
p {
    margin-bottom: 0.4em;
}
hr {
    border: 0 none;
    border-top: 1px solid #000000;
    height: 1px;
}
ul {
    margin: 0 0 20px 2em;
    list-style: disc outside;
}
small {
    font-size: 0.8em;
}
ol {
    margin: 0 0 20px 2em;
    list-style: decimal;
}
#content h1{
    background: url(img/ref-logo.png) no-repeat;
    height: 40px;
    padding: 10px 0 0 50px;
    margin-top: 5px;
    background-size: 40px;
    font-size: 18px;
    line-height: 22px;
}
#content h2{
    background: url(img/h2-mark.png?v=3) 0 3px no-repeat;
    padding: 0px 0 0 25px;
    height: 20px;
    font-size: 16px;
    /*background-size: 20px;*/

}
#head{
    width: 1200px;
    margin: 0 auto;
    display: block;
    height: 50px;
    overflow: hidden;
    border-bottom: 1px solid #999999;
    background-color: #ebedfc;
}
#logo{
    background: #ebedfc url('img/h_logo.png?v1') 15px 5px no-repeat;
    width: 315px;
    height: 50px;
    display: block;
}
#site{
    width: 1200px;
    margin: 0 auto 15px;
    display: table;
    background: #ffffff;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px #999999;
    -moz-box-shadow: 0px 0px 10px #999999;
    box-shadow: 0px 0px 10px #999999;
    background: #ffffff;
}
#foot{
    width: 940px;
    margin: 0 auto;
    display: block;
    height: 70px;
    overflow: hidden;
    background: #ebedfc;
    border-top: 1px solid #999999;
    padding: 5px 0 0 260px;
}
#foot a{
    color: #000;
    font-family: 'Open Sans Semibold';
}
#sbar{
    float: left;
    width: 250px;
    margin-bottom: 10px;
    display: block;
}
#content{
    float: right;
    width: 930px;
    display: block;
    min-height: 800px;
    padding: 10px;
    margin-bottom: 10px;
}
#categories{
    width: 249px;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}
#ref_search{
    width: 249px;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}
.sb_title{
    font-size: 16px;
    background: #ebedfc;
    padding: 5px 0 5px 0;
    text-align: center;
    font-family: "Open Sans Semibold";
    border-bottom: 1px solid #999999;
    width: 249px;
}
.category{
    width: 244px;
    background: #FCFCFC;
    padding: 1px 0 1px 5px;
    font-size: 12px;
    line-height: 14px;
}
.category:hover{
    background: #ebedfc;
}
.category a{
    color: #00003e;

}
#content ul{
    list-style-type: disc;
}
#home_categories,.cat_ref{
    margin: 0 0 10px 0;
    display: inline-block;
    font-size: 13px;
}
#home_categories a,
.cat_ref a{
    color: #00003e;
}
#home_categories li{
    float: left;
    width: 50%;
    padding-bottom: 3px;
}
.cat_ref li{
    padding-bottom: 3px;
}
.cat_ref{
    min-height: 200px;
    width: 100%;
    max-width: 900px;
}
#home_categories,.cat_ref{
    list-style-image: url(img/cat-mark.png);
    list-style-position: inside;
}
.cat_ref_relative{
    list-style-image: url(img/cat-mark-rel.png?v=4);
    list-style-position: inside;
}
.cat_ref_relative a{
    line-height: 18px;
    font-size: 13px;
}
.ref_thesis{
    list-style-image: url(img/thesis.png?v=2);
    list-style-position: inside;
}
.ref_thesis{
    font-family: 'Open Sans Semibold';
    font-size: 14px;
    margin-left: 0;
}
.ref_thesis li{
    padding-bottom: 3px;
}
.search_block{
    background: #FCFCFC;
    width: 229px;
    height: 70px;
    display: block;
    text-align: center;
    padding: 20px 10px 0 10px;
}
.search_block form{

}
.search_block input[type=text]{
    border:1px solid #d0d0d0;
    background-color:#fcfcfc;
}
.search {
    padding:6px 15px 6px 30px;
    margin:0;
    background: url('img/search.png') no-repeat 8px 6px;
    width: 125px;
    float: left;
    height: 15px;
}
.search_block input[type=submit], .search_block input[type=submit]:hover {
    /*position:relative;*/
    /*left:-6px;*/
    float: right;
    border:1px solid #adc5cf;
    background: #e4f1f9; /* Old browsers */
    background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0); *//* IE6-9 */
    color: #57747c;
    cursor: pointer;
    height: 29px;
    border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
}
.search_block input[type=submit]:hover{
    color: #000;
}
.rounded {
    border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
}
.top_sb_title{
    border-top: 1px solid #999999;
}
.wp-pagenavi{
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 45px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    max-width: 880px;
    margin: 10px 0 10px 0;

}
.wp-pagenavi span.current, .wp-pagenavi a:hover {background: #2DB2EB;color: #fff;-webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;}
.wp-pagenavi a, .wp-pagenavi span{margin: 0 1px 0 0;display: inline-block;float: left;font-weight: 400;line-height: 1.2em;text-decoration: none;color: #4D4D4D;padding: 5px 10px;}
.table_info{
    border-color: #bbbbbb;
    width: 100%;
    background: #FCFCFC;
    border-collapse: collapse;
    font-size: 13px;
}
.table_info tbody tr{
    border-color: #bbbbbb;
}
.table_info tbody tr td{
    padding: 3px 0 3px 5px;
}
.table_info .solidline{
    background: #ebedfc;
    height: 25px;
    font-family: 'Open Sans Semibold';
    font-size: 15px;
}
.table_info .t_param{
    width: 150px;
}
a.dbtn {
    display: block;
    margin: 10px auto 10px;
    min-width: 15em;
    width: 50%;
    font-size: 80%;
    color: rgba(255,255,255,.9);
    text-shadow: #2e7ebd 0 1px 2px;
    text-decoration: none;
    text-align: center;
    line-height: 1.1;
    white-space: pre-line;
    padding: .7em 0;
    border: 1px solid;
    border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
    border-radius: 6px;
    outline: none;
    background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
    box-shadow: inset rgba(255,255,255,.5) 1px 1px;
}
a.dbtn:first-line{
    font-size: 170%;
    font-weight: 700;
}
a.dbtn:hover {
    color: rgb(255,255,255);
    background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}
a.dbtn:active {
    color: rgb(255,255,255);
    border-color: #2970a9;
    background-image: linear-gradient(#5796c8, #6aa2ce);
    box-shadow: none;
}
.downline{
    background: #ebedfc;
    font-family: 'Open Sans Semibold';
}
.socialinit{
    margin-top: 5px;
    text-align: left;
}
.sharetr{
    font-family: 'Open Sans Semibold';
    font-size: 14px;
}
.alph_ref{
    display: inline-block;
    margin-top: 15px;
    width: 100%;
    text-align: right;
    font-family: 'Open Sans Semibold';
}

.wpcf7 .captcha_img{
    float: left;
    width: 100px;
    display: inline;
}
.wpcf7 .captcha_inpt{
    float: left;
    width: 100px!important;
    display: inline;
    margin-left: 10px;
}
.wpcf7 p{
    display: inline-block;
    width: 100%;
    font-family: 'Open Sans Semibold';
    font-size: 14px;
    margin-top: 1px;
    padding-top: 4px;
}
.wpcf7 input[type=text], .wpcf7 textarea{
    width: 300px;
}

